.jumbotron{
  background-image: url('https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjs0L6M2_fhAhVPzRoKHbxdDMYQjRx6BAgBEAU&url=https%3A%2F%2Fchevronbackgrounds.com%2Fimages%2Fff6600-plain-orange-58111a-chocolate-cosmos-brown-3d-cubes-gradient-background&psig=AOvVaw3jbwIc6-ggapgKvgNjKPx-&ust=1556710052341890');
  padding:7px;
  margin-bottom: -30;
}
h1{
  font-family: 'Gloria Hallelujah', cursive;
}
